/* main-theme colors */
$surface: #0C0D2A;
$on-surface: #FFFFFF;
$primary: #10e98b;
$on-primary: #054429;
$secondary: #1D1F4A;
$on-secondary: #FFFFFF;
$tertiary: #8185FF;
$on-tertiary: #13154a;


/* Quiz Theme Colors */
$frontend: #A1F6CA;
$on-frontend: #003820;

$backend: #FDB275;
$on-backend: #4A1100;

$frameworks: #FFE094;
$on-frameworks: #3D2C00;

$design-tools: #94D9FA;
$on-design-tools: #00274D;

