@use '~/assets/styles/variables/colors' as *;
@use '~/assets/styles/mixins/typography' as *;

html {
  font-size: 16px;
  box-sizing: border-box;
}

body {
  @include bodyLarge;
  font-size: 1rem;
  min-height: 100vh;
  background-color: $surface;
  color: $on-surface;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: $on-surface;
  text-decoration: none;
}

a:hover {
  color: $on-surface;
  text-decoration: underline;
}

a:visited {
  color: $on-surface;
}
